nav{
    background:linear-gradient(to right , #ffffff , #DF1636);
    position: sticky;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.577);
    left: 20%;
}
nav h3{
    position: absolute;
    right: 5%;
}
nav carts{
    position: absolute;
    left: 5%;
}
